<form action="login_request" method="post">
    {% csrf_token %}
    <div class="container">
      <label for="fname">Username :</label><br>
    <input type="text" id="email" name="email"><br>
      <label for="pasw">Password:</label><br>
    <input type="password" id="pasw" name="pasw">
    <input type="submit">Login</input>
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> -->
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>