<form method="post" action="register_request" >
    {% csrf_token %}
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname">
    <br>
    <label for="fname">Email id:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="lname">Phone no.:</label><br>
    <input type="text" id="phone" name="phone">
    <br>
    <label for="fname">Age:</label><br>
    <input type="text" id="age" name="age"><br>
    <label for="lname">blood group:</label><br>
    <input type="text" id="bgrp" name="bgrp">
    <br>
    <label for="fname">weight:</label><br>
    <input type="text" id="wgt" name="wgt"><br>
    <label for="fname">medical history:</label><br>
    <input type="text" id="med_hist" name="med_hist"><br>
    <label for="lname">Address:</label><br>
    <input type="text" id="addr" name="addr">
    <br>
    <label for="pasw">Password:</label><br>
    <input type="password" id="pasw" name="pasw">
    <input type="submit"></input>
  </form>